
 

<h2 style="color:brown"> Education</h2>
    <h3 style="color:tomato">HSC:</h3>
    <h4>  - B A F Shaheen College Dhaka</h4>
    <h3 style="color:tomato">SSC:</h3>
    <h4>  - B A F Shaheen College Kurmitola</h4>


