
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>totalSeller</title>
</head>
<body>
    <div>
        <label style="font-size:larger">Total Product:@ViewBag.Count </label>
        <br />
        <label style="font-size:larger">Total sellers:@ViewBag.Countp </label>
    </div>
</body>
</html>
